body {
    font-family: Arial, Helvetica, sans-serif;
    color: #0D0C0A;
    margin: 0;
    box-sizing: border-box;
}

/* Text */
h1 {
    margin: 0;
}

h3, p, li {
    margin: .5rem 0;
}

h2 {
    margin: 1rem 0 3rem 0;
}

ul {
    margin: 2rem 0 3rem 0;
    list-style-type: circle;
}

/* Menu */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2EEEB;
    height: 4rem;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    width: 80rem;
    padding: 0 2rem;  
}

/* Shopping cart */
.cart-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    
}
.cart {
    font-size: 2.5rem !important;
    margin-top: .2rem;
    margin-right: .5rem;
}

.cartCount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: #8C8B88;
    color: white;   
}

/* Product */
.product {
    display: flex;
    justify-content: center;
    margin: 3rem 2rem 2rem 2rem;
}

/* Product image */
.image-container {
    display: flex;
    justify-content: center; 
}

.product-image {
    max-width: 80%;
    object-fit: cover;
}

/* Product info */
.product-info-container {
    display: flex;
    flex-direction: column; 
    margin-top: 2rem;  
    padding: 0 2rem;
}

/* Variants */
.variants {
    display: flex;
}

.variant-icon {
    width: 5rem;
    height: 6rem;
    object-fit: cover;
    margin-right: 1rem;
    cursor: pointer;
}

.activeVariant {
    border-bottom: .5rem solid #8C8B88;
}

/* Button */
button {
    padding: 1rem 0;
    background-color: #262520;
    border: none;
    border-radius: .1rem;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: #262520dc;
}

.disabledButton {
    background-color: #e2e2e2;
    pointer-events: none;
    text-decoration: line-through;
}